.container {
    margin-top: 0;
    padding-top: 8rem;
  }


  .center{
      text-align: center;
  }
  .button {
	pointer-events: auto;
	cursor: pointer;
    color: white;
    font-weight: bold;
	background: #12a336;
	border: none;
	padding: 0.5rem 2.5rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
    border-radius: 12px;
}

.back{
    background-image: url(./back.jpg);

    height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}